[2015-12-14 20:33] spinza opened #4 "Add Southern friendly SRTM code."

[2015-12-14 21:03] spinza commented on #4
Closed by #5

[2015-12-14 21:03] #4 closed

[2015-12-14 21:04] spinza opened #6 "Make globals/classes/srtm.php compatitble with either hemisphere."
We should do this.

[2015-12-14 21:17] spinza opened #7 "Change default plot frequency to 5500 if possible"

[2015-12-15 06:13] jammin84 commented on #7
These would be the places to change.
https://github.com/southern-wind/wind/search?utf8=%E2%9C%93&q=2450

[2015-12-15 08:33] jammin84 opened #9 "Generating DNS out of WiND"
CTWUG using a Powerdns / bind implementation.
WAFN using a bind generation script and then push to DNS server implementation.

I'll upload the WAFN version to /tools/dns-zones-bind-updater/

The WAFN version wont do anything unless its installed as a CRON and therefore can be "admin" enabled.

@spinza if you can do similar, where it needs to be "enabled" so either is optional, it would be apprecia

[2015-12-15 08:40] spinza commented on #7
Will do.  Happy for me to change this?

[2015-12-15 08:45] jammin84 commented on #7
yup

[2015-12-16 03:55] jammin84 commented on #9
from @spinza Comments in PR #1

[2015-12-16 03:58] jammin84 commented on #9
WAFN layout:
Only our AP nodes or special cases are allocated /24's not every node. The AP owner delegates out smaller ip to clients. The AP owner also controls the hostname / reverse for his /24 and subdomains of his domain.

How is this delegation controlled within CTWUG?
Side Note: If you're running out of /16 then why not delegate further /16's or larger /11?

Also my understanding of nodes.na

[2015-12-16 05:29] jammin84 opened #10 "mobile friendly"
Site isn't mobile friendly at all. Not usable.

[2015-12-16 14:58] spinza commented on #9
Yeah actually I don't understand what designed process was with wind. It
does seem our process has become bastardised.

Guys edit a wiki we have and allocate ip ranges there and that's about it.
I'd prefer if it's in the database and easy to track and automate.

I need to understand what the original idea of how it is supposed to work.

And then how we will use it going fw.

On Wed, 16 Dec 2015, 0

[2016-01-04 22:43] spinza opened #11 "ip_cname delete not working"

[2016-01-11 09:31] spinza opened #12 "After adding/editing ip address the browser returns to the node info section rather than network section"
We've launched our site now.  Live at wind.ctwug.za.net.
Will post a few user niggles as they come up.

This comment probably applies to many of the editing sub-section type pages.

[2016-01-11 09:38] spinza commented on #10
Have some user commenting on this:
http://www.ctwug.za.net/showthread.php?6151-WIND-amp-DNS-Moved-Feedback-here-please&p=50287&viewfull=1#post50287

What do you think?

[2016-01-12 13:03] spinza opened #13 "Sent mail is not getting a proper Return-Path"
Should be set properly to make sure mail is not sent to spam on recipients (e.g. GMail and Yahoo).
Seems the correct way to get this working is:
[code]
I want to add ```$additional='-f<'.$vars['mail']['from'].'>'```  This needs to be a valid mail address for the sending server for SPF purposes.  So can't use the from (as this might be any user email).

And then also change the ```return @mail($to,

[2016-01-12 13:21] spinza commented on #13
Guess I only should set `$additional` if `$vars['mail']['from']` is set.

[2016-01-14 08:54] jammin84 commented on #12
nice one. hope its going well.

[2016-01-14 09:15] jammin84 commented on #10
looks like a nice quick fix,  and will be more functional than its current state. :)

[2016-01-16 12:36] spinza opened #15 "Email changes should be verified"
Not critical but would be helpful.

I.e. a new activation email sent out.

[2016-01-18 10:59] spinza opened #17 "Email entry on user form should be verified as at least appearing to be a valid email address"
Currently you can put anything in there it seems.

[2016-01-19 01:58] #13 closed

[2016-01-19 02:56] jammin84 commented on #12
the Tabs are JS based and get started from the following code.

[code]

This is the Tab html.

[code]

Reference documentation for how this works.
http://www.w3schools.com/bootstrap/bootstrap_ref_js_tab.asp

[2016-01-19 02:59] jammin84 commented on #12
The easy fix should be to have the returning page set the relative tab to active.

So if you'd just updated something in the network tab, then the above example will now look like this.

[code]

[2016-01-19 03:08] jammin84 commented on #12
the relative file is
templates/basic/includes/pages/node_editor/node_editor.tpl

[2016-01-19 03:41] jammin84 commented on #12
So the success / redirect page code sequence is as follows.

includes/pages/node_editor/node_editor.php
calls
globals/classes/message.php

This is the call from node_editor
`$main->message->set_fromlang('info', 'update_success', self_ref());`
Some Background on self_ref (found in globals/functions.php)

[code]

Thats all i got time for today. But something along the lines of adding the tab referen

[2016-01-19 07:27] spinza commented on #12
Cool that would take me ages to figure out.  Will see if I can get a volunteer coding.  Otherwise I will implement at some point.

[2016-01-21 14:36] spinza opened #18 "Different styled lines for different link types on maps"
Our members loved this about our old wind.  We had different styled lines for our map based on the link type.  Better links being more prominent.

Ideally the style should be configurable in the config/config.php.
@MDE186 is going to look at this for us.

[2016-01-25 06:38] jammin84 commented on #18
The current mapping shows it as per the node "status", but I can see the proposed method being of value also.

I also agree to these being configurable.

FYI @MDE186. its currently found in
/templates/basic//scripts/javascripts/map.js

[code]

and a bit further down the link colours.

[code]

Note: WAFN use a modified red as above rather than the #ff0000 in the original code, which was chosen for

[2016-01-25 08:12] jammin84 opened #21 "No way to add a reverse lookup."
Reverse lookups are super important when doing trace's and such.
ie doing a lookup on ip a.b.c.d

I've already done this in WAFN and will add the code shortly.

It will appear in the network tab as "Reverse IP addresses"

[2016-01-25 08:15] spinza commented on #21
I'm not sure if I'm being daft but isn't the reverse just the inverse of
all A records?

Our A records are taken from ip_addresses.  And our PTR records are taken
from ip_addresses as well?

On Mon, 25 Jan 2016 at 10:12 jammin84 notifications@github.com wrote:

[2016-01-25 09:52] jammin84 commented on #21
perfectly valid question. I'd initially thought the same thing myself before being requested to implement it.

A common use is for servers which may host lots of things with websites / mail servers. Say the following all pointed to the same server.
mail.node1.wind
mail.node2.wind
www.node3.wind

with the reverse being something descriptive for diagnosis.
eth2.bigserver.node6.wind

you wouldn't kno

[2016-01-25 10:05] spinza commented on #21
I'm not fully following your example but this is how we work:
mail.node1.wind CNAME server.node1.wind (from ip_cname table)
www.node1.wind CNAME server.node1.wind (from ip_cname table)
server.node1.wind A 172.18.1.10  (from ip_addresses)
10.1.18.172... PTR server.node1.wind (from ip_addresses)

This guy is hosting mail and www on server.node1.wind.

If he's hosting the general services for our wug

[2016-01-25 10:09] spinza commented on #21
People who do not know how CNAMEs work often do the following:
they add mail.node1.wind to ip addresses as 172.18.1.10
then also www.node1.wind to ip addresses with same ip
and also server.node1

We then create three PTRs so a reverse lookup gets you one of the above randomly.  Duplicate PTRs do not seem to generate problems with bind/powerdns at least.

[2016-01-27 00:36] jammin84 commented on #21
re: mail.node1, www.node1 etc:  I was saying the same thing with PTR records for the forward.

I was also saying that just making the reverse name the same as the forward name isn't always applicable. Its typical that a host / router will use a reverse name that is descriptive of a port or hardware that it passes through. -> eth2.bigserver.node6.wind

The true reverse ip should only ever have one

[2016-01-27 00:54] jammin84 commented on #10
Has been made somewhat more usable. closed.

[2016-01-27 00:54] #10 closed

[2016-01-27 01:25] jammin84 commented on #18
@spinza can you expand on what "Better links" are classified as?

I presume its not a measurement of signal quality.

[2016-01-27 02:53] jammin84 opened #24 "schema-v1.2 cname column definition"
@spinza wanted to query you on /tools/updates/schema-v1.2.inc.php

I believe the unique should be false or removed. otherwise you'll never be able to add more than one cname to a node_id.

$tb->addColumn('node_id', 'int unsigned', array(
                'not_null' => true,
                'default' => '0',
                'unique' => true));

[2016-01-27 07:40] spinza commented on #21
OK cool.

[2016-01-27 07:43] spinza commented on #24
Cool will have a look. Will test on wind-dev.

Our production I just copied the existing database and manually upgraded as it was not close to the schema in many places.

[2016-01-27 07:55] spinza commented on #9
BTW we have our DNS running directly off wind data for a couple of weeks now.

Addded views on the WIND data.
This is combined with some manual entries into a combined view.
SOA serial gets calculated off modification times  (we have a auto updating modified column on nodes, ip_addreses, ip_cname).  SOA serial = max of modification timestmaps on (node mod, ip_address, ip cname, manual entries).
Po

[2016-01-27 08:00] spinza commented on #21
Fair enough on mail mx.  I was just using it as an example.

[2016-01-27 08:17] jammin84 commented on #9
your powerDNS method utilising views is a good idea.

I dont understand if your other DNS servers are utilising Anycast or not?? How do network segments know which DNS to use, as i imagine there would be lots in your scenario?

For us, every Anycast server thinks its the master and runs it own hosted copy of the latest zone file (pushed out by the tool only when a change occurs in WiND).

Anycast

[2016-01-27 08:26] jammin84 commented on #9
re: running whole zones.

Our setup runs as TLD. ie *.wafn
For every users domain/s in WiND they have the option of hosting it on the Anycast servers or hosting it on their own DNS server.

This is via the NS selection found in
Node Edit > Network > DNS Zones > Responsible Nameservers (NS)*

[2016-01-27 08:39] spinza commented on #9
Yes all our servers are authoritive for everything.  They are also anycast
servers on 172.18.1.1.
PDNS reads the database.
Bind running on same server uses AXFR to transfer from PDNS.
All the other AXFR from that master-master (and each other).

We don't have people hosting only their own dns.  If they want to, they can
volunteer a server, typically a spare Pi or similar and I link it in to
sync i

[2016-01-27 08:40] spinza commented on #9
I can share our configs with you.  Can you access gitlab.ctwug.za.net?

On Wed, 27 Jan 2016 at 10:39 Louis Rossouw lrossouw@gmail.com wrote:

[2016-01-27 08:44] spinza commented on #18
Our colours were/will be based on the link protocol:

[code]

They will have different colours/thickness.  Obviously most of these are wireless though we have some nodes connected via ethernet (that are very close to each other).

[2016-01-27 09:02] jammin84 commented on #18
ahh. nice one!

JSON data for the query is /wind/index.php/map/json?node=0&filter=p2p,ap,client

you'll need to add in the link info. in the following file.
includes/pages/map/map_json.php

[2016-01-27 09:08] jammin84 commented on #18
hrmm .. one question. where do you record that information in WiND?

The closest I can see is "link type"

[2016-01-27 11:54] spinza commented on #18
Under edit link:
You have link-type, peer node, access point and protocol.  It's the protocol field.
Not sure if the options have been bastardised on our install?

[2016-01-27 17:20] wacko141za opened #26 "Node subnetwork"
Node subnetwork table is not properly aligned

![problemwind2](https://cloud.githubusercontent.com/assets/2084416/12621799/f106eac8-c52a-11e5-866e-3de131543663.PNG)

[2016-01-27 17:22] wacko141za opened #27 "LOS popup"
When checking LOS between nodes via node view of one node, the resulting popup window is not sized properly and does not update when enlarged to correct size
![problemwind3](https://cloud.githubusercontent.com/assets/2084416/12621870/460cb6d8-c52b-11e5-994b-02003e87bb24.PNG)

[2016-01-27 17:23] wacko141za opened #28 "Formating of Node Links"
The node links table is not properly aligned, making it unreadable

![problemwind1](https://cloud.githubusercontent.com/assets/2084416/12621893/6a586bea-c52b-11e5-80f4-87a182ae6019.PNG)

[2016-01-27 17:29] wacko141za opened #29 "Mobile compatibility"
Changing of base layer and overlays on map is not possible

Opening the options menu is met with significant difficulty, only to reach a list of options that do not respond to touch

(Tested on wind-dev)

[2016-01-28 00:03] jammin84 commented on #18
ahh yes. I'd looked at a client link yesterday, whereas it only shows as an option on the AP side.

[2016-01-28 04:03] jammin84 commented on #26
thanks for the screenshot. I'd never even seen this feature used before :tongue:

looks to me like it doesn't use the table template.

[2016-01-28 06:10] jammin84 commented on #29
@wacko141za what phone/tablet/etc did you use?

I could change layers on a HTC one. But it didn't display overlays as you've mentioned. i.e. nodes/links/etc.

It may be best that maps aren't shown for mobiles as I think the openlayers.org plugin may need upgrading from V2 to V3 for this to function usefully.

[2016-01-28 08:37] wacko141za commented on #29
I tested using Chrome on a Samsung Galaxy S5

[2016-01-28 08:51] wacko141za commented on #29
I've just noticed another issue on mobile.
![screenshot_2016-01-28-10-49-47](https://cloud.githubusercontent.com/assets/2084416/12639424/f69268aa-c5ac-11e5-9c07-4d8fd33eff1c.png)

Wind home page and Network nodes pages scale properly, but node pages do not

[2016-01-28 08:55] jammin84 commented on #29
The real solution here is a total re-write with a responsive design.

Ideally the menu/ header / footer should disappear by becoming a small button on smaller screens.

But doubtful anyone has this kind of time/effort.

[2016-01-28 08:59] wacko141za commented on #29
Sorry for being a hassle. Its just that often when I am out doing a node survey or an install, I will be constantly referring to wind on my phone. (It worked flawlessly on our previous version of wind)

[2016-01-28 09:07] jammin84 commented on #29
@wacko141za i agree it should be mobile friendly. I, and I'm sure many others do the same :wink:

[2016-01-28 09:12] spinza commented on #29
@wacko141za  It wasn't flawless but yeah it worked.

[2016-01-28 19:43] spinza opened #40 "Fix frequency on new link to default to 5500 (or blank?)"

[2016-01-28 19:48] spinza commented on #7
Closed by #34

[2016-01-28 19:52] spinza commented on #7
Closed by #34

[2016-01-28 19:52] #7 closed

[2016-01-28 20:06] spinza opened #41 "All IP columns in database should be unsigned int(10)"
The pre 1.1 sql has a bunch of issues in this regard.

[2016-01-28 21:04] spinza opened #43 "Regression on install srtm/map selection screen"
Map is no longer loading here:
https://wind-dev.ctwug.za.net/install/?step=mapbounds

[2016-01-28 21:09] spinza commented on #41
Table / Columns with the issue:
areas: ip_start/ip_end
dns_nameservers: ip
ip_addresses: ip
ip_ranges: ip_start/ip_end
regions: ip_start/ip_end
subnets: ip_start/ip_end

[2016-01-28 22:35] MDE186 commented on #43
It loaded fine when I installed this evening.

[2016-01-29 07:23] spinza commented on #43
OK, were you on latest?  I was merging his PRs last night.  @jammin84 changed some map settings.

[2016-01-29 07:28] spinza commented on #41
I suspect the error only manifests when entering IPs >128.0.0.0 which is why some haven't spotted it yet.  We use 172.18 and 172.26 and other wireless nets in SA use other parts of 172.

[2016-01-29 07:33] spinza commented on #43
The only other possible explanation I have is that I wasn't running SSL last time I tried install. I can check tonight.

[2016-01-29 09:07] MDE186 commented on #43
Had the latest before the commits. Will fork them tonight and check again.

[2016-01-29 09:46] MDE186 commented on #41
Hey, I updated my database with your changes but cannot add IP information under subnet.

I.e. if I enter 172.18.221.1 - 172.18.221.5 > it shows - 0.0.0.0 0.0.0.0

[2016-01-29 10:39] spinza commented on #43
They are merged to master.  Just update your master.

[2016-01-29 10:42] spinza commented on #41
Try on  https://wind-dev.ctwug.za.net/

I'm pretty sure me and @wacko141za tested it and it was working there.

[2016-01-29 11:27] MDE186 commented on #41
Get a database error when trying to access node edit page.

[image: Inline image 1]

On Fri, Jan 29, 2016 at 12:42 PM, spin notifications@github.com wrote:

[2016-01-29 11:41] spinza commented on #41
Ah that fix is not merged yet...  Sorry.

On Fri, 29 Jan 2016 at 13:27 MDE186 notifications@github.com wrote:

[2016-01-29 11:48] MDE186 commented on #41
Cool. Give me a heads up when you ready.

On Fri, Jan 29, 2016 at 1:41 PM, spin notifications@github.com wrote:

[2016-01-31 17:09] spinza commented on #41
Updated wind-dev to include the fix and its working: https://wind-dev.ctwug.za.net/index.php/nodes?node=1
So this error is closed by the PR #42

[2016-02-01 00:53] #41 closed

[2016-02-01 01:40] jammin84 commented on #43
map changes by me were only link colours. Dont think i did any others?

SSL / maps usually gives a browser debug log entry like this below (fyi. should probably be made into another another issue :stuck_out_tongue_winking_eye: )

[code]

[2016-02-01 04:33] jammin84 commented on #40
I'm happy to default @ 5500.

[2016-02-01 04:44] jammin84 commented on #43
Fresh install from master here seemed to work ok.

Can this be closed @MDE186

[2016-02-01 04:48] MDE186 commented on #43
Yes this can be closed.

[2016-02-01 04:48] jammin84 commented on #9
@spinza interested in sharing that config with this project as an optional method?

[2016-02-01 04:54] jammin84 commented on #26
@wacko141za this has been resolved. closed.

[2016-02-01 04:54] #26 closed

[2016-02-01 04:59] jammin84 commented on #28
fixed for client.

Just realised, not fixed for AP. There seems to be another file for that.

[2016-02-01 05:00] #43 closed

[2016-02-01 07:57] jammin84 commented on #24
cname definition corrected.. closed.

[2016-02-01 07:57] #24 closed

[2016-02-01 21:19] spinza opened #49 "Sort out DB Scheme mess"
I've reverted 1.2 and my fix for ip unsigned columns.

Want to do the new fix but before I have to revert something again we need to clarify a couple of things:

1. I see in your PR you update the scheme.sql?  Does that need to be updated to be the newest scheme?  Or the starting version?  I assumed the install script updates the db also.
2. I have no idea how to write the update table in the sche

[2016-02-02 01:58] jammin84 commented on #49
1 - yes. schema.sql should always be the latest version of the db (ie it is used for fresh installs)
- No the setup does not run update.php see "install/steps/step_dbsetup.php"
- It does however add the sql version during install (hardcoded).
  - This log should probably move to a "schema.version.data.sql" so that its more obvious and doesn't get forgotten when "schema.sql" is revised.

`
"INSERT

[2016-02-02 03:26] MDE186 commented on #28
Would it not be this page?

[Here](https://github.com/southern-wind/wind/blob/master/templates/basic/includes/pages/nodes/nodes_view_table_links_ap.tpl)

[2016-02-02 04:21] MDE186 commented on #11
Hey spin, is it not deleting in the DB or not deleting on the frontend?

[2016-02-02 04:21] MDE186 commented on #27
@wacko141za what browser you using?

[2016-02-02 05:32] jammin84 commented on #12
good work @MDE186.

this has been resolved. closed.

[2016-02-02 05:32] #12 closed

[2016-02-02 05:35] jammin84 commented on #28
correct, it was just getting the time to revise n test.

[2016-02-02 05:35] wacko141za commented on #27
I have been experiencing this issue on chrome
On 02 Feb 2016 6:21 AM, "MDE186" notifications@github.com wrote:

[2016-02-02 07:28] spinza commented on #11
Not sure.  We are reorganising the schema updates.  Once I'm done I'll check.

[2016-02-02 07:28] spinza commented on #27
I haven't seen it.

[2016-02-02 07:32] spinza commented on #49
So a schema update requires the 4 files above plus all.inc.php.

I will follow that approach for now and we can fix all.inc.php later if needs be.

[2016-02-02 07:56] jammin84 commented on #49
I'm suggesting we just move the small array data found in "all.inc.php" into the update.php file.

This will make 4 rather than 5 files to edit

But otherwise. yes.

[2016-02-03 03:51] jammin84 commented on #49
@spinza now that it is "Defined", I take it that you will be performing the required update / amalgamation to 1.2?

[2016-02-03 07:38] spinza commented on #49
@jammin84 yeah, have been busy the last couple of days.  Will get to it in the next day or two.

[2016-02-03 08:57] jammin84 commented on #49
no worries :smiley:

[2016-02-04 23:00] spinza commented on #49
Schema version for install could just be in the schema.sql?  Why separate it?

[2016-02-04 23:10] spinza commented on #49
Schema 1.1 is also wrong as it uses modify column incorrectly.

[2016-02-04 23:53] spinza commented on #43
I'm definitely seeing this still.  No map loads on the area selection.

[2016-02-04 23:55] spinza commented on #43
I still see this?

[2016-02-05 00:05] spinza commented on #43
Nevermind had a browser warning about unsafe scripts that I missed.  Now it works.

[2016-02-06 07:01] jammin84 commented on #49
The reason I thought to separate it was if someone did a db structure dump that the log line would get lost / forgotten .... Otherwise yes, it could be included.

[2016-02-06 10:08] spinza commented on #49
It should show up in the diff when you update the schema.sql.

Maybe we should document schema updates in a schema.md per this discussion.  And have comments in the relevant code files referencing that?

[2016-02-06 14:57] jammin84 commented on #49
perhaps we just add a github wiki page about it and any other code can just reference that.

ie. a reference to the wiki comment in update.php and another in the install/step ??

[2016-02-06 22:29] spinza commented on #49
That could also work, but a docs folder in the repo is so much more portable.  Github wiki is not part of the repo right?

[2016-02-07 13:57] jammin84 commented on #49
Fair point. Agreed.
On 7 Feb 2016 6:29 am, "spin" notifications@github.com wrote:

[2016-02-08 23:07] spinza opened #54 "Create docs folder."
Should contain things like:

* Detailed install instructions
* Dev instructions
* Schema update instructions

[2016-02-09 06:29] jammin84 opened #55 "some ease of install notes for improvements"
Some Installation steps require unnecessary user interaction at the shell, these are some that I think should be updated.

**install step = perms**
create folders.
- For folders that dont exist (eg ./config ./files/ ./templates/_basic/) have the script create them, rather than complain "they dont have the correct permissions set"

**install step = dbsetup**
The "Install" is only used for new insta

[2016-02-09 15:10] spinza opened #56 "Fix weird spacing issues on old Wind Code."
Lots of empty lines with spaces.
And trailing white space.
etc.

Probably one commit touching pretty much all php files should fix it.  There's probably some utility to fix this.

[2016-02-10 09:03] jammin84 opened #57 "Passwords are stored in an insecure un-salted form"
password stored in the db is a straight md5 unsalted.
as seen in
globals/classes/userdata.php:83
`$this->check_login($username, md5($password))`

At a minimum I would expect:
- some kind of salt be used.
 - The salt could be generated at time of install.
- Dont use md5 (its easily crackable)
- Use an open platform.
 - such as http://www.openwall.com/phpass/

other suggestions welcome

[2016-02-10 10:09] spinza commented on #57
Sounds good.  We are probably moving our sign-in to be based on our forum.  I.e. not using wind login at all.  Enables tighter integration.  Will post an issue for that soon.

[2016-02-23 00:54] jammin84 commented on #55
following on from the notes in PR #60 of chicken and egg.

Perhaps the "install" frontend should be changed to a cmd line script as the user executing it would have the necessary privileges to do the required steps.

This would also fix another security concern I have with the config.php file being world writeable by default.

Thoughts?

[2016-02-23 01:01] jammin84 commented on #49
I can see that issue 54 has been created to track the docs folder.

Is there anything else required for this issue to be closed?

[2016-02-23 01:03] jammin84 commented on #6
So does this merge now make this project a "whirl (as in world) wind"? :stuck_out_tongue_winking_eye:

closed.

[2016-02-23 01:03] #6 closed

[2016-02-23 01:07] jammin84 commented on #17
agreed. Use the inbuilt filter validate. @MDE186 perhaps you'd like to handle this one?

http://www.w3schools.com/php/filter_validate_email.asp

[2016-02-23 01:10] jammin84 commented on #27
@wacko141za can you please confirm if this is still an issue?

We haven't seen it in the current version.

[2016-02-23 01:15] jammin84 commented on #28
@wacko141za this has been resolved. Closing.

![image](https://cloud.githubusercontent.com/assets/6802951/13238447/fc290ce0-da0d-11e5-8d87-d0a7beba0786.png)

[2016-02-23 01:15] #28 closed

[2016-02-23 01:17] jammin84 commented on #27
@wacko141za please re-open if still occuring.

[2016-02-23 01:17] #27 closed

[2016-02-23 04:46] MDE186 commented on #17
Will have a look :)
On 23 Feb 2016 3:07 AM, "jammin84" notifications@github.com wrote:

[2016-02-23 07:25] spinza commented on #27
I seem to see something similar actually.  But my border is dragable.
![image](https://cloud.githubusercontent.com/assets/3501598/13244502/5c6d00ba-da0f-11e5-8857-4497d7e7821c.png)

[2016-02-23 07:29] spinza commented on #17
I've found an instance of two email addresses in that field and also one of a host name instead of an email there.  And those are the better examples.

[2016-02-23 07:30] spinza commented on #6
:+1:

[2016-02-23 07:31] spinza commented on #49
No.  Closing.

[2016-02-23 07:31] #49 closed

[2016-02-23 07:39] spinza commented on #55
I've seen a number of php open source sites install this way.  I.e. an install page that checks if requirements are met but not able to fix the problems such as folder permissions and/or missing php modules.

I don't see this as a big deal as you need host access in any case and it's a once-off process.  I think some notes on how to install and upgrade is a good idea but other than that I'm happy

[2016-02-23 07:42] spinza opened #61 "API"
A simple read-only API would be good.  We have a few apps that use node locations for example and this would be good to have accessible via API.

Prefer if it were API key based or at least only show public info if not protected.

[2016-02-23 07:46] jammin84 commented on #27
mine. chrome. 100% zoom
![image](https://cloud.githubusercontent.com/assets/6802951/13244807/1c49e90a-da44-11e5-9920-af08e770488c.png)

The examples @spinza and @wacko141za has a lot more padding on the left of the plot image.

At a guess this is some kind of css issue. Perhaps font-size em VS px.

[2016-02-23 07:58] jammin84 commented on #55
fair enough. closing.

[2016-02-23 07:58] #55 closed

[2016-02-23 08:04] jammin84 commented on #61
There is already some API used for the actual map / location data.

example
https://wind.ctwug.za.net/index.php/map/json?node=0&filter=p2p,ap,client

Might be some other useful bits already in there :wink:

[2016-02-23 08:54] spinza commented on #61
Excellent

[2016-02-23 08:59] jammin84 commented on #27
Can you both also please check your zoom settings in Chrome when on the wind ctwug tab.

[2016-02-23 09:00] spinza commented on #27
Mine is at 100%.

[2016-02-23 09:01] spinza commented on #27
Also checked in incognito mode if it might be related to a plugin but get the same.

[2016-02-24 07:17] MDE186 commented on #18
Made lots of progress. Question @spinza does the current ctwug database have a 'protocol' column under nodes?

[2016-02-24 08:08] spinza commented on #18
@MDE186 you should design based on the database here.  Specifically this:
https://github.com/southern-wind/wind/blob/master/install/schema.sql#L157

Our live database is probably not 100% match to this though.  But we need to fix [our live] database if you make the changes.  I can't look now but our live database should have protocol on the links table.

I think we may need to fix the names to be

[2016-02-24 08:47] MDE186 commented on #18
Its all good...found what I was looking for.

[2016-02-24 16:40] MDE186 commented on #18
Howzit. So..I have completed the link colours. Just wanting to know if you want different link thickness's as well.

![link_colours](https://cloud.githubusercontent.com/assets/8092312/13292849/1030deb6-db26-11e5-8074-25bce55f3558.png)

[2016-02-24 20:18] spinza commented on #18
Cool.  How is that implemented?  Is it a config setting?

I think a config setting based on the link protocols with thickness, colour
and visibility (active/inactive) would be absolutely awesome.

On Wed, 24 Feb 2016 at 18:40 MDE186 notifications@github.com wrote:

[2016-02-25 01:07] jammin84 commented on #18
looking great.
I agree about a config setting .. either stored in db or the config.php file.

[2016-02-25 06:48] MDE186 commented on #18
At the moment its just hard coded. I'll look at implementing it into the db and also changeable via the admin panel.

[2016-03-01 02:14] jammin84 commented on #61
@spinza, can you provide more info on what kind of field your after from the api?

[2016-03-01 02:20] jammin84 commented on #21
note: being handled in #58

[2016-03-01 02:22] jammin84 commented on #9
@spinza I've created a login in gitlab.ctwug.za.net. I think you need to share that project with me so I can see it.

[2016-03-01 07:09] spinza commented on #9
I have the bind configs. Look at bind_configs project (it's public).  One of those syncs to pdns and then shares with the rest of the slaves.  Our slaves are all masters and sync to each other.  They all carry the complete records on wind.

The powerdns bit is not yet in a on gitlab.  I will share that with you.  I'm travelling tonight so will get to it later this week only.

[2016-03-01 07:25] spinza commented on #61
This is a nice to have.

Couple of things like:
- Given an ip what is the node,location, etc.
- Given a node who are the admins?
- Given an admin what are their details? [If we have this it should be
  secured]
- Given a node name what is the location?

Things of that nature. Returned as json or similar objects for easy usage
in other apps.

I have an app that runs and verifies that routers are ru

[2016-03-01 09:45] jammin84 opened #62 "Functionality suggestion - Add / Edit buttons."
A suggestion for cleaning up language variations, making updates simpler.

Move the "Add" icon to the left of the property that it is for.

**Normal Wind "Add / Edit Buttons"**
![image](https://cloud.githubusercontent.com/assets/6802951/13423346/48788a22-dfd5-11e5-93f5-1353bcf4270c.png)

**Suggestion**
![image](https://cloud.githubusercontent.com/assets/6802951/13423320/1f6f66c8-dfd5-11e5-9d6a-5e2

[2016-03-01 09:56] MDE186 commented on #18
Sorry its taking so long...can only really work once the pregnant wife and 2yr old have gone to bed :)

[2016-03-01 12:29] MDE186 commented on #62
Should be easily achievable.

[2016-03-01 13:44] jammin84 commented on #18
Seriously. No stress dude.

Family first always.

[2016-03-01 13:47] jammin84 commented on #62
Yeah. I imagine so.

I just hacked it up in chrome dev tools. Looked to be mainly css changes.

Are you wanting to do @mde186?

[2016-03-01 14:48] MDE186 commented on #62
Don't mind
On 01 Mar 2016 3:47 PM, "jammin84" notifications@github.com wrote:

[2016-03-02 00:15] #40 closed

[2016-03-02 18:27] spinza commented on #18
:+1:

[2016-03-16 08:51] jammin84 commented on #11
this is fixed now in the above PR.

[2016-03-16 08:51] #11 closed

[2016-03-17 13:06] SnicketsCPT opened #66 "SOUTHERN-WIND INSTALLATION NON FUNCTIONAL"
Hi

I Have been trying to get this installation to work and it seems I am now at a loss.
The Base VM with pre-reqs is setup and working (PHP,MySQL & Smarty)
I download a copy of the souther-wind master, and extract it to the www folder.
I create all of the missing folders :
Templates/_compiled
Templates/_comppiled/basic
files/srtm
files/photos
config
and copy the sample config over as per instruct

[2016-03-18 07:18] spinza commented on #66
Which version of smarty?

[2016-03-18 14:10] jammin84 commented on #66
Nod @spinza

As per wiki
'Notice that version 2.x is recommended.'

[2016-03-19 07:09] spinza commented on #66
To keep an issue open there has to be a bug in software.  We can't tell what's wrong if you don't give details.

[2016-03-21 02:21] jammin84 opened #67 "LOS indication colour gives different results at different resolutions"
LOS links are sometimes giving different positive or negative results based upon the image resolution.

The below screenshot shows exactly the same url except the width and height, but:
- one indicates "red" no LOS,
- one indicates "green" acceptable LOS.

![image](https://cloud.githubusercontent.com/assets/6802951/13909433/fceb651a-ef4d-11e5-95ba-33c50614b625.png)

Here are the direct links so yo

[2016-03-22 08:23] SnicketsCPT commented on #66
How is it that an issue gets closed within 72 Hours?? I have been away on a long weekend and did not see any e-mail until now, for that I will apologize.

I am using smarty engine : "Smarty 2.6.23"

[2016-03-22 08:25] spinza commented on #66
Web server?  OS?  Web server logs?

[2016-03-22 08:35] spinza commented on #66
Also use the latest Smarty 2:
https://github.com/smarty-php/smarty/releases/tag/v2.6.28

[2016-03-22 08:39] SnicketsCPT commented on #66
This I have pulled from a webpage inspect

[2016-03-22 08:40] SnicketsCPT commented on #66
I will switch on verbose logging and post it here as well.
I Am using Server 2008R2 with IIS and PHP 5.3

[2016-03-22 08:41] SnicketsCPT commented on #66
![wind_issue](https://cloud.githubusercontent.com/assets/12714077/13946025/9a16892e-f01a-11e5-97cc-10b271faf0d0.png)

[2016-03-22 08:45] SnicketsCPT commented on #66
I Have just upgraded the Smarty engine to the recommended version, still no luck

[2016-03-22 08:58] spinza commented on #66
We haven't decided whether we would or would not support Windows but I'd say you are in unchartered waters with Windows.

Suggest you run Ubuntu 14.04 or similar Debian based OS with Apache (or Nginx).

[2016-03-22 09:00] spinza commented on #66
It seems to be looking for the site called templates instead of in the templates folder on your server.  You need to map that to a folder somehow.

[2016-03-22 09:08] SnicketsCPT commented on #66
I Have tried this on both Centos and Windows and had the same result, hence why I have logged it ;)

[2016-03-22 09:22] spinza commented on #66
I'd suggest a Debian based OS such as Ubuntu.

[2016-03-22 09:26] SnicketsCPT commented on #66
I will build a brand new vm again with ubuntu and deploy all of the prereqs as well as wind and post those logs, should I have any further issues.

[2016-03-22 09:29] spinza commented on #66
Also share your apache site config when you do.

[2016-03-22 09:29] SnicketsCPT commented on #66
Will do thanks

[2016-03-23 00:54] jammin84 commented on #66
@SnicketsCPT thanks for your feedback and screenshot. By memory I've spoken to you previously on the WiND git. If you've had that working, then this will work on the same config as these variables haven't changed since being forked.

I would have thought CentOS would have worked, my guess is something in your config.php, as these should never be prepended with "http" as seen here, by my 2 examples

[2016-03-23 10:28] SnicketsCPT commented on #66
Hi Spinza

Thanks so much for all of the assistance, the wind instance is running now.

I have one last question : On the browser page title ( the internet tab title) it shows "MY SITE TITLE HERE"  any idea on how to fix this perhaps?

[2016-03-23 10:34] SnicketsCPT commented on #66
Also, thanks Jammin84

I never could get the fix to work at that time, I am now assuming that it was my centos vm.

[2016-03-23 12:41] spinza commented on #66
@SnicketsCPT
config/language/english_overwrite.php
Change it there (and in Greek / Dutch if you want).

[2016-03-23 12:46] spinza commented on #66
Thanks @jammin84 .  Any more issues here?  In terms of his logs I thought it was windows logs so assumed it wouldn't work.

[2016-03-24 03:59] jammin84 commented on #66
@SnicketsCPT can you please share what fixed this as if it was a linux specific / flavour issue I would like to follow it up.

Otherwise we'll close this one out.

[2016-03-24 04:02] jammin84 commented on #66
@spinza id assumed his screenshot was a browser debug/dev tool log. ie showing elements it couldn't load.

[2016-03-24 08:14] SnicketsCPT commented on #66
everything is working very well now :) Thanks once again guys!!

[2016-03-24 08:14] #66 closed

[2016-03-24 08:14] SnicketsCPT commented on #66
everything is working very well now :) Thanks once again guys!!

[2016-03-24 08:24] spinza commented on #66
Ah I see that could be the chrome console.

[2016-04-18 23:31] spinza opened #68 "Improve language of change email address verification email."
Small change.  The body of the current email is this:
[code]
Just want to improve it slightly so it's clear that you need to verify the change.
[code]
Similarly the subject.

[2016-04-18 23:34] spinza commented on #21
This is closed by #58

[2016-04-18 23:35] spinza commented on #21
This is closed by #58

[2016-04-18 23:35] #21 closed

[2016-05-26 12:16] spinza commented on #18
@MDE186 have you had a chance to look at this while awake at odd hours? :baby_bottle:

[2016-05-26 14:50] MDE186 commented on #18
Hey,

Unfortunately not. Not sure when I'll have some extra time. I can send
through the basics of what's been done?
On 26 May 2016 14:16, "spin" notifications@github.com wrote:

[2016-05-31 13:40] spinza opened #69 "Single Sign On"
I want to activate WiND sign-in via CTWUG foru,  I.e. when you login to the WiND it actually uses our forum login.

These are instructions how to activate it:
https://meta.discourse.org/t/using-discourse-as-a-sso-provider/32974

And this is a PHP gist referenced in instructions above:
https://gist.github.com/paxmanchris/e93018a3e8fbdfced039

Is this something we should incorporate here or keep it

[2016-05-31 13:45] spinza commented on #17
Was closed by #65

[2016-05-31 13:45] #17 closed

[2016-05-31 13:46] spinza commented on #15
Closed by #65

[2016-05-31 13:46] #15 closed

[2016-05-31 14:35] spinza opened #70 "Google Earth KML Needs CDATA tags"
See https://developers.google.com/kml/documentation/kml_tut#using-the-cdata-element
And this:
https://github.com/southern-wind/wind/blob/8b895ea17412f883d6e1c876de3c5dc378813363/includes/pages/gearth/gearth_download.php#L65

[2016-06-01 02:40] jammin84 commented on #69
@spinza I'd prefer it implemented within the master and as a config option for auth.

This way it shows the project will be open to other alternative auth systems for integration

[2016-06-01 07:35] spinza commented on #70
This is in fact a bug. The button below produces invalid KML.
![image](https://cloud.githubusercontent.com/assets/3501598/15701546/29c71226-27db-11e6-8c0a-243ea14ff709.png)

WiND uses standard HTML inside the the description so we need to wrap the content in CDATA tags as per the example:

[code]

I will do it at some point.

[2016-06-01 07:41] spinza commented on #67
I had someone pointing out some LOS issues where he said it was clear that you could see the site but LOS said it's red.

Example:
See: https://wind.ctwug.za.net/index.php/nodes?node=1616
The first link listed is one of our best links.  When you increase size the link suddenly turns green:
Before:
https://wind.ctwug.za.net/index.php/nodes/plot?a_node=1616&b_node=333&frequency=5500&width=570&height

[2016-06-01 07:52] spinza commented on #67
This is the code that detects whether the link should be red or green:
https://github.com/southern-wind/wind/blob/8b895ea17412f883d6e1c876de3c5dc378813363/globals/classes/geoimage.php#L109

[2016-06-01 08:12] jammin84 commented on #70
oh, I seen it had "htmlspecialchars" in the code. But your right, there's lots that's outside of that so it would be invalid.

[2016-06-01 08:16] jammin84 commented on #67
hrmm.. looking at this again, looks like the antenna height changes between the 2 resolutions ... perhaps a drawing / padding error there somewhere?

[2016-06-01 08:20] jammin84 commented on #67
Notice the AP on the right moves height just by adjusting the width 10px.

https://wind.ctwug.za.net/index.php/nodes/plot?a_node=1616&b_node=333&frequency=5500&width=570&height=250

https://wind.ctwug.za.net/index.php/nodes/plot?a_node=1616&b_node=333&frequency=5500&width=580&height=250

[2016-06-01 08:39] spinza commented on #67
I imagine it's rounding when making pixels.  The check for LOS is done at the pixel level.  And I'm pretty sure the check is most inaccurate over long links close to the antenna.  Because the pixels become bigger approximations of the terrain.

Couple of simple solutions:
- Increase the resolution by 100% of the images but scale them down when showing by 50%?
- Ignore those checks close to the ant

[2016-06-01 09:01] jammin84 commented on #67
@spinza it was placing the AP at 2pixels in from the right edge of width rather than the final width/height location.

My patch above fixes the issue to ensure its at the correct location.

But yes, I also agree that increasing drawing resolution and scaling would also improve the accuracy of this tool.

Bandwidth considerations are minimal.
2.3kb 500x250
4.8kb 1000x500

[2016-06-23 07:33] spinza commented on #67
Closed by #71

[2016-06-23 07:33] #67 closed

[2016-06-25 11:38] spinza commented on #18
Got @MDE186 's code.

I can implement it but it's dependent on having a set protocol list in the protocols table.  He has a if else if else hard coded.

I think I will change his way of doing things by adding a colour field to the protocol table so we can simply edit the colour in the database.  If no colour is set it will default to the blue it uses currently.

Happy with that approach @jammin84

[2016-06-27 02:30] jammin84 commented on #18
Hi @spinza

Looking at the schema.sql file. It appears that there is no "protocol table", it is just a "enum" list within the table "links", so while i like the "adding a row" idea, the current db design doesn't allow for it.

There is also no admin interface in WiND for changing these either. So even changing the enum list is purely db.

I think it best if its stored in either:
- a new "options"

[2016-06-27 06:54] spinza commented on #18
Doh thought it was a table.

On Mon, 27 Jun 2016, 04:30 jammin84 notifications@github.com wrote:

[2016-06-27 12:56] MDE186 commented on #18
All sounds good. @spinza I just pulled the code from the old WIND and made it work with the new.
Sorry didnt get further.

[2016-06-27 13:13] MDE186 commented on #68
#73 Improve language of change email address verification email

[2016-06-27 13:17] MDE186 commented on #57
Hashing Passwords with the PHP 5.5 Password Hashing API

https://www.sitepoint.com/hashing-passwords-php-5-5-password-hashing-api/

[2016-06-27 13:19] MDE186 commented on #57
Hashing Passwords with the PHP 5.5 Password Hashing API

https://www.sitepoint.com/hashing-passwords-php-5-5-password-hashing-api/
https://github.com/Antnee/phpPasswordHashingLib
https://github.com/ircmaxell/password_compat - PHP 5.3.7 (or later)

[2016-06-30 19:39] #70 closed

[2016-07-14 15:55] senortiago opened #74 "Help on identifying the problem: List topology to nodes"
Hello,

I've managed to upgrade an old WiND installation with the Southern's WiND one.

All seem to be fine, until I pressed List topology to all AP Nodes and/or List topology to all Nodes.

No result came up - just an empty list, also no error (I've also enabled debug mode on config - just in case).

Any idea what this could be?

Installation url: http://wana.gr/wind

[2016-07-14 17:53] spinza commented on #74
Works fine in English.  Tried it on your site.  But in greek it doesn't.  Are you sure you didn't mess up the greek translation pages somewhere when you customised?
You can try it here:
https://wind-dev.ctwug.za.net/index.php/

This is running most recent version of southern-wind. and is dev version (so feel free to create login and dummy nodes for testing there).

[2016-08-09 08:57] jammin84 commented on #74
@senortiago this appears to be a greek language change performed on your end in the following file.
https://github.com/southern-wind/wind/blob/master/globals/language/greek.php

We'd appreciate any grammar corrections in the greek language file so we can update the master in your locale.

Otherwise this will be closed within 7days.

[2016-08-09 08:59] jammin84 commented on #68
this was completed on 26 Jul

[2016-08-09 08:59] #68 closed

[2016-09-15 04:12] jammin84 opened #75 "fix dns ip2long"
it breaks if there is a space before or after the ip.

It will result in null or 0.0.0.0.

[2017-02-08 14:39] ripkk commented on #61
@spinza, we could use something like SlimFramework for this?

[2017-02-12 21:04] spinza commented on #61
I've got something up which is a simple flask-api based script just to allow API requests for IP locations.  Not working 100% though.

[2018-04-18 22:32] Firestarter1983 commented on #74
I have the exact same problem with no custom config done.

[18-Apr-2018 22:15:30 UTC] PHP Warning:  Invalid argument supplied for foreach() in xxx/includes/pages/nodes/nodes_list.php on line 232

This message is in the error.log file. This happens when trying to list Topology from Nodes or AP nodes.

[2018-04-19 10:07] spinza commented on #74
Probably wrong php version?

[2018-05-14 01:52] jammin84 commented on #74
If it works fine in english but not in greek. Then yes, there is mostly an error in the Greek translation file when something was added.

Firestater, ensure you are running latest version.

[2018-09-02 13:28] PAOK1926 opened #77 "New wind installation..."
hello all,

i just wanted to inform you that a new WiND installation is running here:
http://wind.twmn.net/wind/index.php/nodes

[2018-09-02 14:12] spinza commented on #77
Good stuff!

[2018-09-02 14:13] spinza commented on #77
Let me know what your twmn.net group is all about?

[2018-09-02 14:15] PAOK1926 commented on #77
Thessaloniki's Wireless Metropolitan Network (Thessaloniki is the 2nd biggest city in Greece)
Started back at 2002, we used it till 2011 and we decided to re-generate it :)

[2018-09-02 14:47] spinza commented on #77
I might add a current installations section on the README and link to you there.

[2018-09-02 15:03] PAOK1926 commented on #77
why not, we were using a WiND since back in 200x..

[2018-09-02 15:05] spinza commented on #77
Cool.  Please feel free to contribute pull requests if so we can keep improving it.